body {
  background-color: #FFDBE9;
  color:#000000;
}

h1 {
    font-family: sans-serif;
    text-align: center;
    color:#000000;
}

h2 {
   font-family: sans-serif;
   text-align: center; 
   color: #000000;
}

hr {
  color: #000000;
  border-style: inset; 
  border-width: 4 px;
}

h3 {
   font-family: sans-serif;
   color: #000000; 
   text-align: left;
}

img {
  float: right;
  width: 200 px;
  height: 165 px;
  margin: 10 px;
  border-color: #ef82c1;
  border-width: 6 px;
  border-style: dotted;
  border-radius: 10 px;
}

p {
  text-align: left;
  font-family: sans-serif;
  font-size: 14 px;
  width:600 px;
}
