body {
  background-color: #FFDBE9;
  color:#000000;
}

h1 {
    font-family: sans-serif;
    color:#000000;
}

<hr style="color:#000000;">


h2 {
   font-family: sans-serif;
   color: #000000;
}

h3 {
   font-family: sans-serif;
   color: #000000; 
   text-align: left;
}
