body {
  background-color: #fff2fe;
  text-align: center; 
  color:#ba3bba;
}

h1 {
    font-family: sans-serif;
}

hr {
  background-color: #fff2fe;
  color:#cc73bb;
}

h2 {
   font-family: sans-serif;
}

h3 {
   font-family: sans-serif;
}
